{% extends "layouts/main.html" %}
{% block body %}

<h1>MAX HEALTH EHR</h1>
<h2>Administration Portal</h2>
<div id="adminProviders">
    <div class="recordsBox">
        <h3>New Provider</h3>
        <form method="POST">
            <label for="newProviderFirstName">First Name</label>
            <input type="text" id="newProviderFirstName" name="fname"><br>
            <label for="newProviderLastName">Last Name</label>
            <input type="text" id="newProviderLastName" name="lname"><br>
            <label for="newProviderLicenseType">License Type</label>
            <input type="text" id="newProviderLicenseType" name="licenseType"><br>
            <label for="newProviderLicenseNumber">License Number</label>
            <input type="number" id="newProviderLicenseNumber" name="licenseNumber" value=0><br>
            <label for="newProviderSpecialty">Specialty</label>
            <input type="text" id="newProviderSpecialty" name="specialty"><br>
            <p>Is this a primary care provider?</p>
            <label for="providerTrue">Yes</label>
            <input type="radio" id="providerTrue" name="primaryCare" value=1>
            <label for="providerFalse">No</label>
            <input type="radio" id="providerFalse" name="primaryCare" value=0 checked><br>
            <input type="submit" name="adminNewProvider" value="Add New Provider">
        </form>
    </div>
    <div class="recordsBox">
        <h3>Update Provider Information</h3>
        <form method="POST">
            <label for="updatingProviderID">Enter Provider ID</label>
            <input type="number" id="updatingProviderID" name="providerID">
            <input type="submit" name=adminLookupProvider value="Submit">
        </form><br>
        {% if adminProviderObj %}
        <form method="POST">
            <label for="updatedProviderFirstName">Last Name</label>
            <input type="text" id="updatedProviderFirstName" name="fname" value="{{ adminProviderObj[0]['fname'] }}"><br>
            <label for="updatedProviderLastName">Last Name</label>
            <input type="text" id="updatedProviderLastName" name="lname" value="{{ adminProviderObj[0]['lname'] }}"><br>
            <label for="updatedProviderLicenseType">License Type</label>
            <input type="text" id="updatedProviderLicenseType" name="licenseType" value="{{ adminProviderObj[0]['licenseType'] }}"><br>
            <label for="updatedProviderLicenseNumber">License Number</label>
            <input type="number" id="updatedProviderLicenseNumber" name="licenseNumber" value="{{ adminProviderObj[0]['licenseNumber'] }}"><br>
            <label for="updatedProviderSpecialty">Specialty</label>
            <input type="text" id="updatedProviderSpecialty" name="specialty" value="{{ adminProviderObj[0]['specialty'] }}"><br>
            <p>Is this a primary care provider?</p>
            {% if adminProviderObj[0]['primaryCare'] == 1 %}
                <input type="radio" id="updateProviderTrue" name="primaryCare" value=1 checked>
                <input type="radio" id="updateProviderFalse" name="primaryCare" value=0><br>
            {% else %}
                <input type="radio" id="updateProviderTrue" name="primaryCare" value=1>
                <input type="radio" id="updateProviderFalse" name="primaryCare" value=0 checked><br>
            {% endif %}
            <label for="updateProviderTrue">Yes</label>
            <label for="updateProviderFalse">No</label>
            <input type="submit" name="adminUpdateProvider" value="Update Provider Info">
        </form>
        {% endif %}
    </div>
    <div class="recordsBox">
        <h3>Remove Provider</h3>
        <form method="POST">
            <label for="deletingProviderFname">First Name</label>
            <input type="text" id="deletingProviderFname" name="fname"><br>
            <label for="deletingProviderLname">Last Name</label>
            <input type="text" id="deletingProviderLname" name="lname"><br>
            <input type="submit" name="adminDeleteProviderFromSystem" value="Remove Provider from System">
        </form>
    </div>
</div>

<div id="adminClinics">
    <div class="recordsBox">
        <h3>New Clinic</h3>
        <form method="POST">
            <label for="newClinicName">Clinic Name</label>
            <input type="text" id="newClinicName" name="clinicName"><br>
            <label for="newClinicSpecialty">Specialty</label>
            <input type="text" id="newClinicSpecialty" name="specialty"><br>
            <label for="newClinicProviderCapacity">Provider Capacity</label>
            <input type="number" id="newClinicProviderCapacity" name="providerCapacity" value=0><br>
            <label for="newClinicExamRooms">Number of Exam Rooms</label>
            <input type="number" id="newClinicExamRooms" name="examRooms" value=0><br>
            <p>Is this a primary care clinic?</p>
            <label for="clinicTrue">Yes</label>
            <input type="radio" id="clinicTrue" name="primaryCare" value=1>
            <label for="clinicFalse">No</label>
            <input type="radio" id="clinicFalse" name="primaryCare" value=0 checked><br>
            <input type="submit" name="adminNewClinic" value="Add Clinic to System">
        </form>
    </div>
    <div class="recordsBox">
        <h3>Update Clinic</h3>
        <form method="POST">
            <label for="updatingClinicID">Enter Clinic ID</label>
            <input type="number" id="updatingClinicID" name="clinicID">
            <input type="submit" name="adminLookupClinic" value="Submit">
        </form><br>
        <form method="POST">
            <label for="updatedClinicSpecialty">Specialty</label>
            <input type="text" id="updatedClinicSpecialty" name="specialty"><br>
            <label for="updatedClinicProviderCapacity">Provider Capacity</label>
            <input type="number" id="updatedClinicProviderCapacity" name="providerCapacity"><br>
            <label for="updatedClinicExamRooms">Number of Exam Rooms</label>
            <input type="number" id="updatedClinicExamRooms" name="examRooms"><br>
            <p>Is this a primary care clinic?</p>
            <label for="updatedClinicTrue">Yes</label>
            <input type="radio" id="updatedClinicTrue" name="primaryCare" value=1>
            <label for="updatedClinicFalse">No</label>
            <input type="radio" id="updatedClinicFalse" name="primaryCare" value=0><br>
            <input type="submit" name="adminUpdateClinic" value="Update Clinic Info"
        </form>
    </div>
    <div class="recordsBox">
        <h3>Remove Clinic</h3>
        <form method="POST">
            <label for="deletingClinicName">Clinic Name</label>
            <input type="text" id="deletingClinicName" name="clinicName"><br>
            <input type="submit" name="adminDeleteClinicFromSystem" value="Remove Clinic from System">
        </form>
    </div>
</div>

<div id="adminTables">
    <div id="adminsViewPatients">
        <h3>View All Patients of a Clinic</h3>
        <form method="POST">
            <label for="clinicsPatients">Enter Clinic ID</label>
            <input type="number" id="clinicsPatients" name="clinicID">
            <input type="submit" name='viewPatientsClinicClinicID' value="Submit">
        </form><br>
        <table>
            <tr>
                <th>MRN</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>PCP</th>
                <th>Preferred Pharmacy</th>
            </tr>
            {% for row in adminPatientData %}
                <tr>
                    <td>{{ row['medicalRecordNumber'] }}</td>
                    <td>{{ row['fname'] }}</td>
                    <td>{{ row['lname'] }}</td>
                    <td>{{ row['birthdate'] }}</td>
                    <td>{{ row['primaryCarePhysician'] }}</td>
                    <td>{{ row['preferredPharmacy'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="adminViewProviders">
        <h3>View All Providers of a Clinic</h3>
        <form method="POST">
            <label for="clinicsProviders">Enter Clinic ID</label>
            <input type="number" id="clinicsProviders" name="clinicID">
            <input type="submit" name="viewClinicsProviders" value="Submit">
        </form><br>
        <table>
            <tr>
                <th>Provider</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>License Type</th>
                <th>License Number</th>
                <th>Specialty</th>
                <th>Primary Care</th>
            </tr>
            {% for row in adminProviderData %}
                <tr>
                    <td>{{ row['providerID'] }}</td>
                    <td>{{ row['fname'] }}</td>
                    <td>{{ row['lname'] }}</td>
                    <td>{{ row['licenseType'] }}</td>
                    <td>{{ row['licenseNumber'] }}</td>
                    <td>{{ row['specialty'] }}</td>
                    <td>{{ row['primaryCare'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
