<h1> EHR-Lite Homepage</h1>
    <!-- TEMP: place a form around this vvv, use Python with radio box for proper routing -->
        <label for="userID">User Identification #:</label>
        <input type="text" id="userID"><br>

        <input type="radio" id="patient" name="userType" value="patient">
        <label for="patient">Patient ID</label><br>
        <input type="radio" id="provider" name="userType" value="provider">
        <label for="provider">Provider ID</label><br>

        <input type="text" value="Submit">
    <!-- TEMP: place a form around this ^^^, use Python with radio box for proper routing -->
