{% extends "layouts/main.html" %}
{% block body %}
<h1> EHR-Lite Homepage</h1>
<div id="containerHome">
    <form id="homeForm" name="homeForm" action="" method ="POST">
        <label for="userID">User Identification #:</label>
        <input type="text" id="userID" name="uerID"><br>

        <input type="radio" id="patient" name="userType" value="patient">
        <label for="patient">Patient ID</label><br>

        <input type="radio" id="providers" name="userType" value="providers">
        <label for="provider">Provider ID</label><br>

        <input type="radio" id="admin" name="userType" value="admin">
        <label for="admin">Admin ID</label><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}