{% extends "layouts/main.html" %}
{% block body %}

<h1>MAX HEALTH EHR</h1>
<h2>Patient Portal</h2>
<div class="container">
    <div id="inputContainer">
        <h3>New Patient Information</h3>
        <form method='POST'>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="newPatientFirstName"><br>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="newPatientLastName"><br>
            <label for="birthdate">Birthdate</label>
            <input type="date" id="birthdate" name="newPatientBirthdate" value="2020-12-01">
            <label for="primaryCarePhysician">Primary Care Physician</label>
            {% if providerOptions %}
            <label for="primaryCarePhysician">Primary Care Physician</label>
            <select id="primaryCarePhysician" name="primaryCarePhysician">
                {% for option in providerOptions %}
                    <option value="{{ option['providerID'] }}">{{ option['providerName'] }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <label for="preferredPharmacy">Preferred Pharmacy</label>
            <input type="text" id="preferredPharmacy" name="patientPreferredPharmacy">
            <input type="submit" name="patientNewPatient" value="Submit">
        </form>
    </div>
    <div id="patientTable">
        <h3>Medical History</h3>
        <table>
            <tr>
                <th>Account Number</th>
                <th>Visit Date</th>
                <th>Chief Complaint</th>
                <th>Diagnosis</th>
                <th>Procedure</th>
                <th>Clinic</th>
                <th>Provider</th>
                <th>Notes</th>
            </tr>
            {% if patientHistory %}
            {%for row in patientHistory%}
                <tr>
                    <td>{{ row['medicalRecordNumber'] }}</td>
                    <td>{{ row['visitDate'] }}</td>
                    <td>{{ row['chiefComplaint'] }}</td>
                    <td>{{ row['diagnosisName'] }}</td>
                    <td>{{ row['procedureName'] }}</td>
                    <td>{{ row['clinicName'] }}</td>
                    <td>{{ row['PCP'] }}</td>
                    <td>{{ row['providerNotes'] }}</td>
                </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    <div id="patientClinicTable">
        <h3>Patient Clinic</h3>
        <table>
            <tr>
                <th>Account Number</th>
                <th>Patient Name</th>
                <th>Patient Clinic Name</th>
                <th>Delete Relation</th>
            </tr>
            {% if patientClinics %}
            {%for row in patientClinics%}
                <tr>
                    <form method='POST'>
                        <td>{{ row['medicalRecordNumber'] }}</td>
                        <td>{{ row['patientName'] }}</td>
                        {% if clinicOptions %}
                        <td>
                            <select id="updatePatientClinicRelationClinic" name="updatePatientClinicRelationClinic">
                                {% for option in clinicOptions %}
                                    {% if option['clinicID'] == row['clinicID'] %}
                                        <option value="{{ option['clinicID'] }}" selected>{{ option['clinicName'] }}</option>
                                    {% else %}
                                        <option value="{{ option['clinicID'] }}">{{ option['clinicName'] }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                            <td><input type="number" name="updatePatientClinicRelationClinic" value="{{ row['clinicID'] }}"></td>
                        {% endif %}
                        <td>
                            <input type="submit" name="deletePatientClinicRelation" value="Delete">
                            <input type="submit" name="updatePatientClinicRelation" value="Update">
                        </td>
                        <input type="hidden" name="deletePatientClinicRelationPatient" value="{{ row['medicalRecordNumber'] }}">
                        <input type="hidden" name="deletePatientClinicRelationClinic" value="{{ row['clinicID'] }}">
                    </form>
                </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}
